---
---

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
  color: #aaa;
  font: 100%/1.5 'Karla', sans-serif;
}

body {
  padding: 3rem;
}

@media screen and (min-width: 667px) {
  body {
    padding: 6rem 3rem;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin-bottom: 1.5rem;
}

dt,
dd {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 667px) {
  dt {
    float: left;
    width: 33.333%;
  }

  dd {
    margin-left: 33.333%;
    padding-left: 1.5rem;
  }
}

ul, ol {
  list-style: none;
  margin-left: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}

.nav {
  list-style: none;
  margin: 0;
  > li {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 0.75rem;
    }
    > a {
      display: block;
    }
  }
}

.header,
.main,
.footer {
  animation: 1.2s fadeIn;
}

.header,
.main {
  border-bottom: solid 1px #ddd;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.header {
  font-weight: lighter;
  font-size: 1.5rem;
}

  .header h1,
  .header p {
    line-height: 2.5rem;
    margin-bottom: 0;
  }

  .header h1 {
    color: #2ECC40;
  }

  .header img {
    border-radius: 100%;
    opacity: 0.25;
    transition: all 400ms;
  }

  .header:hover img {
    opacity: 1;
  }

  @media screen and (min-width: 667px) {
    .header img {
      right: 0;
      position: absolute;
    }
  }

.main {
  padding-bottom: 1.5rem;
}

  .main a {
    color: #2ECC40;
  }

.footer {
  font-size: 0.875rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: right;
  }
}
