* {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  color: #888;
  font: 93.75%/1.5 'Helvetica Neue', sans-serif;
}

body {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

h1, h2, h3, h3, h4, h5, h6, p, ul, ol {
  margin-bottom: 1.5rem;
}

ul, ol {
  margin-left: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  background-color: #34495e;
  box-shadow: inset 0 -0.25rem 0 rgba(255, 255, 255, 0.25);
  border-radius: 0.5rem;
  color: #fff;
  font-weight: bold;
  line-height: 3.25rem;
  height: 3.25rem;
  padding: 0 3rem;
}

.btn--primary {
  background-color: #2ecc71;
}

.content a {
  color: #34495e;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2rem;
}

.container--small {
  max-width: 640px;
}

.container:before, .container:after {
  content: '';
  display: table;
  line-height: 0;
}

.container:after {
  clear: both;
}

.header,
.footer  {
  padding: 3rem 0;
  text-align: center;
}

.footer a {
  border-bottom: solid 1px;
}

.header__thumb {
  border-radius: 100%;
  margin-bottom: 0.75rem;
}

.header__description {
  display: block;
  margin-bottom: 0.75rem;
}

.section {
  background-color: #e6e6e6;
  padding: 6rem 0 4.5rem;
}

  .section__header {
    margin-bottom: 3rem;
    text-align: center;
  }

  .section__title {
    color: #34495e;
    font-size: 2rem;
    margin-bottom: 0;
  }

.section--intro {
  background-color: #34495e;
  color: #fff;
  text-align: center;
}

.row {
  margin: 0 -1.5rem;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .row {
    margin: 0;
  }
}

  .column {
    float: left;
    padding: 0 0.75rem;
    width: 33.333%;
  }

  @media screen and (max-width: 768px) {
    .column {
      float: none;
      padding: 0;
      width: 100%;
    }
  }
  
  .project {
    margin-bottom: 1.5rem;
    position: relative;
    text-align: center;
  }

    .project__thumb {
      display: block;
      margin-bottom: 1.5rem;
    }

    .project:hover > a:after,
    .project:hover .project__overlay {
      opacity: 0;
    }

    .project__overlay {
      color: #fff;
      left: 2.25rem;
      position: absolute;
      transition: all 400ms;
      top: 1.5rem;
      z-index: 2;
    }

    .project__title {
      color: #34495e;
      font-weight: bold;
    }

.project--single .project__title {
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
}

.project--single .project__thumb {
  margin: 0 auto -50%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .project--single .project__thumb {
    margin-bottom: 0;
  }
}

.project--single .project__content {
  margin-top: 13rem;
}

@media screen and (max-width: 768px) {
  .project--single .project__content {
    margin-top: 0;
  }
}

.nav {
  list-style: none;
  margin-left: 0;
  margin-bottom: 0.75rem;
}

  .nav > li {
    color: #34495e;
    display: inline-block;
  }

  .nav > li:after {    
    content: '\2022';
    margin: 0 0.5rem;
  }

  .nav > li:first-child {
    margin-left: 0;
  }

  .nav > li:last-child:after {
    content: '';
    margin-right: 0;
  }

    .nav > li > a {
      font-weight: bold;
    }

.window {
  border-radius: 0.5rem;
  margin: 0 auto 1.5rem;
  max-width: 640px;
}

  .window__header {
    background-image: linear-gradient(#eee,#ddd);
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.01rem 0.5rem;
    text-align: left;
  }

    .window__header__button {
      border-radius: 100%;
      display: inline-block;
      height: 0.5rem;
      opacity: 0.5;
      width: 0.5rem;
    }

    .window__header__button--close {
      background-color: red;
    }

    .window__header__button--minimise {
      background-color: yellow;
    }

    .window__header__button--maximise {
      background-color: green;
    }
  
  .window__content img {
    border-radius: 0 0 0.5rem 0.5rem;
  }