---
import { getCollection } from 'astro:content';

import BaseLayout from "../../layouts/BaseLayout.astro";
import PageTitle from "../../components/PageTitle.astro";
import PostGrid from "../../components/PostGrid.astro";

const rawPosts = await getCollection('blog');
const posts = rawPosts.sort((a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime());
---

<BaseLayout title="Blog archive">
  <div class="space-y-10 lg:space-y-20">
    <div class="text-center">
      <PageTitle>Blog archive</PageTitle>
    </div>
    <PostGrid posts={posts} />
  </div>
</BaseLayout>
