<header class="header" role="banner">
  <div class="container">
    <a href="/"><img class="header__thumb" src="//www.gravatar.com/avatar/1399c5690d715fc64f800b26be3b9cee.png?size=126" alt="{{ site.title }}"></a>
    <span class="header__description">{{ site.description }}</span>
    <ul class="nav nav--header" role="navigation">
      <li><a href="http://twitter.com/_mikefrancis">Twitter</a></li>
      <li><a href="http://github.com/mikefrancis">GitHub</a></li>
      <li><a href="http://uk.linkedin.com/pub/mike-francis/11/655/77a/">LinkedIn</a></li>
      <li><a href="mailto:mikeffrancis@gmail.com">Mail</a></li>
    </ul>
  </div>
</header>
