/* purgecss start ignore */

/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
  * This injects Tailwind's component classes and any component classes
  * registered by plugins.
  */
@tailwind components;

/* purgecss end ignore */

/**
  * This injects Tailwind's utility classes and any utility classes registered
  * by plugins.
  */
@tailwind utilities;

/**
  * Use this directive to control where Tailwind injects the responsive
  * variations of each utility.
  *
  * If omitted, Tailwind will append these classes to the very end of
  * your stylesheet by default.
  */
@tailwind screens;

body {
  margin: 0;
}

/* purgecss start ignore */
.wysiwyg {
  blockquote {
    @apply border-l-4;
    @apply border-gray-500;
    @apply ml-0;
    @apply pl-4;
    @apply text-2xl;
    @apply font-light;
    @apply italic;
  }

  a {
    @apply border-b;
    @apply border-gray-500;
  }

  a:hover {
    @apply opacity-75;
  }

  h2,
  h3 {
    @apply text-xl;
    @apply mb-8;
  }

  p,
  pre,
  ul,
  ol {
    @apply leading-relaxed;
    @apply mb-8;
  }

  pre,
  code {
    @apply bg-gray-200;
    @apply text-black;
    @apply rounded;
  }

  ul,
  ol {
    @apply pl-8;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  code {
    @apply text-sm;
    @apply p-1;
  }

  pre {
    @apply p-4;
    @apply overflow-x-scroll;
    @apply w-full;
  }

  img {
    @apply max-w-full;
  }

  pre code {
    @apply bg-transparent;
    @apply p-0;
    @apply rounded-none;
  }
}

.dark .wysiwyg {
  pre,
  code {
    @apply bg-gray-900;
    @apply text-white;
  }

  a {
    @apply border-white;
  }
}
/* purgecss end ignore */

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*='language-'],
pre[class*='language-'] {
  /* background: none; */
  /* text-shadow: 0 1px white; */
  /* font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; */
  /* font-size: 1em; */
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*='language-'],
  pre[class*='language-'] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function,
.token.class-name {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
