---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageTitle from '../components/PageTitle.astro';
---

<BaseLayout title="Page not found">
  <article class="max-w-3xl mx-auto space-y-10">
    <div class="text-center">
      <PageTitle>Page not found</PageTitle>
      <p class="mt-20">Well, this is embarrasing 😳</p>
    </div>
  </article>
</BaseLayout>
