---
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mike Francis CV</title>
  </head>
  <body class="text-black">
    <div
      class="max-w-5xl px-10 md:px-0 print:max-w-full mx-auto grid grid-cols-1 print:grid-cols-12 md:grid-cols-12 gap-10 py-10 md:py-20 print:py-0"
    >
      <div class="col-span-1 md:col-span-7 print:col-span-8 space-y-10">
        <header>
          <h1 class="text-4xl mb-4 uppercase tracking-widest">Mike Francis</h1>
          <p class="text-lg print:text-base">
            Technical Leader & Software Engineer based in the UK.
          </p>
        </header>
        <main class="space-y-10">
          <section class="space-y-5">
            <h2 class="text-2xl">Selected Skills</h2>
            <ul class="list-disc px-5 print:text-sm">
              <li>JavaScript/TypeScript (React [Native], Node.js, Next.js)</li>
              <li>Python (Pandas, NumPy, TensorFlow)</li>
              <li>PHP (Symfony, Laravel)</li>
              <li>HTML/CSS (Sass/LESS, Tailwind, CSS-in-JS)</li>
              <li>Python (Pandas, NumPy)</li>
              <li>Docker, Kubernetes, AWS, GCP</li>
              <li>Git (Gitflow, Pull Requests, Code Reviews, CI/CD)</li>
              <li>GraphQL/REST/RPC</li>
              <li>Agile Methodologies (Scrum/Kanban)</li>
            </ul>
          </section>
          <section class="space-y-5">
            <h2 class="text-2xl">Professional Employment</h2>
            <article class="space-y-2">
              <h3 class="font-semibold">RYE - Chief Technical Officer</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>UK/Remote</p>
                <p>January 2025 - Present</p>
              </div>
              <ul class="list-disc px-5 print:text-sm">
                <li>
                  Define and execute Rye Energy’s technology vision to
                  accelerate the global transition to sustainable energy.
                </li>
                <li>
                  Architect and scale platforms for energy forecasting,
                  optimization, and grid integration.
                </li>
                <li>
                  Lead engineering, data science, and product teams in
                  developing high-performance, reliable, and secure systems.
                </li>
                <li>
                  Drive innovation in energy intelligence by leveraging AI, IoT,
                  and advanced analytics.
                </li>
                <li>
                  Oversee technology strategy to align with business growth,
                  market expansion, and regulatory requirements.
                </li>
                <li>
                  Build strategic partnerships with utilities, hardware
                  providers, and research institutions to expand capabilities.
                </li>
                <li>
                  Ensure robust cybersecurity, compliance, and operational
                  resilience across all technology infrastructure.
                </li>
                <li>
                  Mentor technical leadership and foster a culture of
                  innovation, scalability, and impact.
                </li>
              </ul>
            </article>
            <article class="space-y-2">
              <h3 class="font-semibold">Enode - Senior Software Engineer</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>UK/Remote</p>
                <p>August 2024 - December 2024</p>
              </div>
              <ul class="list-disc px-5 print:text-sm">
                <li>Subject matter expert in the Home Energy team.</li>
                <li>
                  Responsible for API development and evolution in an emergent
                  sector.
                </li>
              </ul>
            </article>
            <article class="space-y-2">
              <h3 class="font-semibold">Sunsave - Head of Engineering</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>London, UK/Remote</p>
                <p>March 2022 - July 2024</p>
              </div>
              <ul class="list-disc px-5 print:text-sm">
                <li>
                  Selecting an initial tech and infrastructure stack for rapid
                  prototyping and iteration for product-market fit with high
                  DORA metrics
                </li>
                <li>
                  Creating a hiring process and executing to staff a team of
                  engineers
                </li>
                <li>
                  Creating a fundamental Engineering culture and iterating with
                  new hires
                </li>
                <li>Providing IT services (inventory, onboarding, support)</li>
                <li>Creating data/reporting stacks for key business metrics</li>
              </ul>
            </article>
            <article class="space-y-2">
              <h3 class="font-semibold">Cuckoo - Senior Software Engineer</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>London, UK</p>
                <p>October 2021 - March 2022</p>
              </div>
              <p class="print:text-sm">
                Main area of focus was architecture, tooling and incremental
                adoption of a Design System (now in production across a suite of
                clients). Also mentoring and coaching of less senior engineers,
                and working on other marketing projects (A/B testing, Promotions
                etc.).
              </p>
            </article>
            <section class="space-y-2">
              <h3 class="text-lg font-semibold">Bulb</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>London, UK</p>
                <p>December 2018 - October 2021</p>
              </div>
              <div class="pl-8 space-y-5">
                <article class="space-y-2">
                  <h4 class="font-semibold">Engineering Manager</h4>
                  <div class="flex items-center gap-4 text-gray-700 text-sm">
                    <p>January 2021 - October 2021</p>
                  </div>
                  <ul class="list-disc px-5 print:text-sm">
                    <li>
                      Managed and scaled 3 product engineering teams (12 direct
                      reports)
                    </li>
                    <li>Focused on career development and coaching</li>
                    <li>Led hiring and onboarding processes</li>
                    <li>
                      Provided regular feedback and supported continuous
                      improvement
                    </li>
                    <li>Maintained operational standards across teams</li>
                  </ul>
                </article>
                <article class="space-y-2">
                  <h4 class="font-semibold">Technical Lead</h4>
                  <div class="flex items-center gap-4 text-gray-700 text-sm">
                    <p>April 2020 - January 2021</p>
                  </div>
                  <ul class="list-disc px-5 print:text-sm">
                    <li>
                      Research, design and implementation of technical solutions
                    </li>
                    <li>
                      Guided quality, correctness, security and observability of
                      systems, services and data in my team's business domain
                    </li>
                    <li>Mentored and coached software engineers</li>
                    <li>
                      Acted as a DRI for technology-related projects, driving
                      continuous improvement
                    </li>
                  </ul>
                </article>
                <article class="space-y-2">
                  <h4 class="font-semibold">Senior Software Engineer</h4>
                  <div class="flex items-center gap-4 text-gray-700 text-sm">
                    <p>December 2018 - April 2020</p>
                  </div>
                  <ul class="list-disc px-5 print:text-sm">
                    <li>
                      Planned and delivered team and organisation-wide projects,
                      implementing technical strategy and improvements
                    </li>
                    <li>Mentored more junior members of the team</li>
                    <li>
                      Focused on internal (customer service) tooling and
                      productivity enablers
                    </li>
                    <li>
                      Improved operational processes and implemented security
                      initiatives
                    </li>
                  </ul>
                </article>
              </div>
            </section>
            <section class="space-y-2">
              <h3 class="font-semibold text-lg">Pod Point</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>London, UK</p>
                <p>June 2015 - November 2018</p>
              </div>
              <div class="pl-8 space-y-5">
                <article class="space-y-2">
                  <h4 class="font-semibold">Senior Software Engineer</h4>
                  <div class="flex items-center gap-4 text-gray-700 text-sm">
                    <p>Jun. 2015 - Nov. 2018</p>
                  </div>
                  <ul class="list-disc px-5 print:text-sm">
                    <li>
                      Designing, developing, and scaling various internal and
                      external APIs, Microservices, and Native/Web Applications
                      for a range of stakeholders
                    </li>
                    <li>Hiring and mentoring more junior engineers</li>
                  </ul>
                </article>
                <article class="space-y-2">
                  <h4 class="font-semibold">Software Engineer</h4>
                  <div class="flex items-center gap-4 text-gray-700 text-sm">
                    <p>June 2015 - May 2017</p>
                  </div>
                  <ul class="list-disc px-5 print:text-sm">
                    <li>
                      Designing and developing various internal and external
                      APIs, Microservices and Native/Web Applications for a
                      range of stakeholders
                    </li>
                  </ul>
                </article>
              </div>
            </section>
            <article class="space-y-2">
              <h3 class="font-semibold">Benchmark - Lead Developer</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>London, UK</p>
                <p>September 2013 - June 2015</p>
              </div>
              <ul class="list-disc px-5 print:text-sm">
                <li>
                  Development Studio Manager, introducing new workflows and
                  teaching new and existing developers new tools, frameworks,
                  and principles
                </li>
                <li>
                  Project management and hands-on development of eCommerce
                  sites/products and web applications
                </li>
              </ul>
            </article>
            <article class="space-y-2">
              <h3 class="font-semibold">ilk - Web Developer</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>Leeds, UK</p>
                <p>June 2008 - September 2013</p>
              </div>
              <ul class="list-disc px-5 print:text-sm">
                <li>
                  Digital Studio Manager, responsible for planning, creating and
                  maintaining interactive online and offline applications
                </li>
                <li>
                  Provided consultancy, design, support, and all aspects of
                  development
                </li>
              </ul>
            </article>
            <article class="space-y-2">
              <h3 class="font-semibold">Code Blue Group - Web Developer</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>Huddersfield, UK</p>
                <p>September 2007 – June 2008</p>
              </div>
              <ul class="list-disc px-5 print:text-sm">
                <li>
                  Developed and maintained websites, eCommerce stores, and
                  internal apps on a pro-rata basis while studying for my degree
                </li>
              </ul>
            </article>
            <article class="space-y-2">
              <h3 class="font-semibold">Volunteer - Ministry of Stories</h3>
              <div class="flex items-center gap-4 text-gray-700 text-sm">
                <p>Remote</p>
                <p>May 2010 - February 2028</p>
              </div>
              <ul class="list-disc px-5 print:text-sm">
                <li>
                  Built the original Ministry of Stories site as part of a work
                  brief
                </li>
                <li>
                  Became a volunteer and delivered maintenance and feature
                  requests alongside another volunteer
                </li>
                <li>
                  Provided ongoing support and improvements in my spare time
                </li>
              </ul>
            </article>
          </section>
        </main>
      </div>
      <footer
        class="col-span-1 md:col-start-9 md:col-span-4 print:col-span-4 space-y-10"
      >
        <dl class="print:text-sm">
          <dt class="font-semibold">Telephone</dt>
          <dd class="mb-2">+44 (0) 7853 123 424</dd>
          <dt class="font-semibold">Email</dt>
          <dd class="mb-2">
            <a href="mailto:mikeffrancis@gmail.com">mikeffrancis@gmail.com</a>
          </dd>
          <dt class="font-semibold">Web</dt>
          <dd class="mb-2">
            <a href="https://mikefrancis.dev">mikefrancis.dev</a>
          </dd>
          <dt class="font-semibold">Code</dt>
          <dd class="mb-2">
            <a href="https://github.com/mikefrancis"> github.com/mikefrancis</a>
          </dd>
          <dt class="font-semibold">Portfolio</dt>
          <dd>
            <a href="https://dribbble.com/mikefrancis">
              dribbble.com/mikefrancis
            </a>
          </dd>
        </dl>
        <section class="space-y-5">
          <h2 class="text-2xl">Speaking</h2>
          <ul class="list-disc px-5 print:text-sm">
            <li>Work In The Web 2020</li>
            <li>ForeFront 2016</li>
            <li>The Digital Barn 2012</li>
          </ul>
        </section>
        <section class="space-y-5">
          <h2 class="text-2xl">FOSS Contributions</h2>
          <ul class="list-disc px-5 print:text-sm">
            <li>Laravel</li>
            <li>Symfony</li>
            <li>create-react-app</li>
            <li>Next.js</li>
            <li>Bootstrap</li>
          </ul>
        </section>
        <section class="space-y-5">
          <h2 class="text-2xl">Education</h2>
          <article class="">
            <h3 class="font-semibold">BA Multimedia (Hons)</h3>
            <p class="text-gray-700 text-sm">University of Huddersfield</p>
            <p class="text-gray-700 text-sm">September 2004 - June 2008</p>
          </article>
          <article class="">
            <h3 class="font-semibold">A-levels</h3>
            <p class="text-gray-700 text-sm">Penistone 6th Form</p>
            <p class="text-gray-700 text-sm">September 2002 - June 2004</p>
          </article>
          <article class="">
            <h3 class="font-semibold">GCSEs</h3>
            <p class="text-gray-700 text-sm">Penistone Grammar School</p>
            <p class="text-gray-700 text-sm">September 1997 - June 2002</p>
          </article>
        </section>
      </footer>
    </div>
  </body>
</html>
