---
layout: default
---
<main class="main" role="main">
  <article class="project project--single">
    <section class="section section--intro">
      <div class="container">
        <h1 class="project__title">{{ page.title }}</h1>
        <div class="window">
          <div class="window__header">
            <span class="window__header__button window__header__button--close"></span>
            <span class="window__header__button window__header__button--minimise"></span>
            <span class="window__header__button window__header__button--maximise"></span>
          </div>
          <div class="window__content">
            <img class="project__thumb" src="{{ page.featured }}" alt="{{ page.title }}">
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container container--small">
        <div class="project__content">
          {{ content }}
          <p>
            {% if page.link %}
            <a class="btn btn--primary" href="{{ page.link }}">View</a>
            {% endif %}
            <a class="btn" href="/">Back to home</a>
          </p>
        </div>
      </div>
    </section>
  </article>
</main>