@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  margin: 0;
}

.transition {
  transition: all 400ms;
}

.translate-x {
  transform: translate(200%);
}

.wysiwyg h2,
.wysiwyg h3 {
  @apply text-xl;
  @apply mb-8;
}

.wysiwyg p,
.wysiwyg pre {
  @apply mb-8;
}

.wysiwyg pre,
.wysiwyg code {
  @apply rounded;
  @apply bg-gray-800;
}

.wysiwyg code {
  @apply text-sm;
  @apply p-1;
}

.wysiwyg pre {
  @apply p-4;
  @apply overflow-x-scroll;
  @apply w-full;
}

.wysiwyg img {
  @apply max-w-full;
}

.wysiwyg pre code {
  @apply bg-transparent;
  @apply p-0;
  @apply rounded-none;
}
