---
import { Image } from "astro:assets";
import ThemeToggle from "../components/ThemeToggle.astro";
import "@fontsource-variable/dm-sans";
import "../styles/global.css";

const { title, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    {image ? <meta property="og:image" content={`https:${image}`} /> : ""}
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={new URL("https://www.mikefrancis.dev/rss.xml", Astro.site)}
    />
  </head>
  <body
    class="antialiased min-h-screen transition bg-zinc-50 text-black dark:bg-zinc-700 dark:text-white font-sans"
  >
    <div class="max-w-5xl mx-auto px-5 py-10 md:px-10 md:py-20">
      <header class="flex items-center justify-between pb-10">
        <a class="group flex items-center" href="/">
          <Image
            class="max-w-full rounded-full"
            src="/me.jpg"
            loading="eager"
            alt="Me"
            width={48}
            height={48}
          />
          <span
            class="transition-opacity opacity-0 group-hover:opacity-100 ml-4 relative bg-zinc-100 px-2 py-1 rounded"
          >
            👋
            <svg
              class="absolute right-full top-1/2 -translate-y-1/2 size-2 fill-zinc-100"
              viewBox="0 0 100 100"
            >
              <polygon points="0 50, 100 0, 100 100"></polygon>
            </svg>
          </span>
        </a>
      </header>
      <main>
        <slot />
      </main>
      <footer class="pt-20 flex items-center space-x-5">
        <ThemeToggle />
        <p>All content &copy; {new Date().getFullYear()}. <a class="underline" href="https://github.com/mikefrancis/mikefrancis.dev">View source</a></p>
      </footer>
    </div>
  </body>
</html>
