---
import { Image } from "astro:assets";
import ThemeToggle from "../components/ThemeToggle.astro";

const { title, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <meta name="description" content={description} />
    {image ? <meta property="og:image" content={`https:${image}`} /> : ""}
  </head>
  <body
    class="antialiased min-h-screen transition bg-white text-black dark:bg-gray-900 dark:text-white"
  >
    <div class="container py-20">
      <header class="relative pb-10">
        <a href="/">
          <Image
            class="max-w-full rounded-full mr-2"
            src="/me.jpeg"
            loading="eager"
            alt="Me"
            width={48}
            height={48}
          />
        </a>
        <div class="absolute top-0 right-0 p-5">
          <ThemeToggle />
        </div>
      </header>
      <main>
        <slot />
      </main>
      <footer class="pt-20">
        <p>&copy; {new Date().getFullYear()}.</p>
      </footer>
    </div>
  </body>
</html>
